<!-- <head>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="489910404758-jjls30d2sim080n8koh4n4817acsb8g5.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<meta name="google-signin-client_id" content={{id}}> -->


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/images/logoicon.svg" width="50px" height="50px"
  class="centered"/>

  <h2 style="text-align: center;">Sign in</h2>

  <form #form="ngForm" (ngSubmit)="onLogin(form)" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="centered">
            <ion-input type="email"ngModel style="background-color: rgba(73, 73, 99, 0.755); border-radius: 30px;" name="email" placeholder="E-mail" #emailInput="ngModel" required="true" ionFocus="focus()" email></ion-input>
            <ion-label *ngIf=emailInput.invalid class="inputwarnings">Not a recognized email address</ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="centered">
            <ion-input type="password" style="background-color: rgba(73, 73, 99, 0.755); border-radius: 30px;" ngModel name="password" placeholder="Password" #passwordInput="ngModel" required="true" minlength="8"></ion-input>
            <ion-label><p *ngIf=passwordInput.invalid class="inputwarnings">Input at leat 8 chars</ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5"></ion-col>
        <ion-col>
          <ion-button
          style="text-align:center; margin-top: 32px;"
          type="submit"class="btn1" shape="round">Log in</ion-button>
        </ion-col>
        <ion-col size="5"></ion-col>
      </ion-row>
      <ion-row>
        <a href='/reset' class="reset-text" style="text-decoration: none;">Forgotten Password?</a>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col style="text-align: center; margin-top: 10px;">
            Don't have an account?
            <ion-button ion-padding fill="outline" color="tertiary" size="small" shape="round" class="btn2"(click)="signup()">Signup</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-spinner *ngIf="isLoading"></ion-spinner>
</ion-content>
<!--
<script src="https://apis.google.com/js/platform.js"></script> -->

