<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
  <app-header></app-header>
  <div class="body">
    <div class="container">
      <div class="head-title name">Wallet: {{wallet.name}}</div>
      <div class="scan-btn" (click)="scanCode()">
        <div class="icon">
          <img src="../../../assets/images/qrcode.png" class="w-100" />
        </div>
      </div>
      <div class="or-text">OR</div>
      <div class="paymentoptions">
        <ul>
          <!-- <li>
            <a href="#"
              ><img src="../../../assets/images/transfer.svg" class="w-100"
            /></a>
          </li> -->
          <li>
            <div class="form-group flexContainer">
              <input
                class="form-control inputField" disabled="true"
                [value]="wallet.address"
                name="Username" onFocus="focus()">
            <ion-button (click)="copyText()" class="ion-btn">Copy</ion-button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="head-title">
      <div class="container">Recent Deposits</div>
    </div>
    <div class="transactionlist">
      <div class="container">
        <div class="transactions-box" *ngFor="let deposit of deposits">
          <div class="left">
            <div class="icon bg-success">
              <img src="../../../assets/images/card.svg" class="w-100 card-icon" />
            </div>
          </div>
          <div class="middle">
            <div class="title">{{deposit.from}}</div>
            <div class="time">{{deposit.date}}</div>
          </div>
          <div class="right">
            <div class="price text-success">{{deposit.amount}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
