<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
  <app-header></app-header>
  <div class="body">
    <div class="container" style="padding-bottom: 50px;">
      <div class="flex-container">
        <ion-button expand="full" (click)="toFunding()">
          To Funding
        </ion-button>
        <ion-button color="secondary" expand="full" (click)="toExternal()">
          To External
        </ion-button>
      </div>
      <div [ngClass]="(walletBal > enteredAmount)? 'balbox' : 'balboxErr'">
        <h4 style="text-align: center;">Balance: {{(walletBal - enteredAmount).toFixed(2)}}</h4>
      </div>

      <div class="form-box" id="externalForm">
        <form (ngSubmit)="onTransfer()" *ngIf="!isLoading" [formGroup]="transactionInfo">
          <!-- To External Wallet -->

          <div class="form-group flexContainer">
            <div class="ion-padding">Your Address:</div><input type="text" class="form-control inputField" id="senderAddress" formControlName="senderAddress" required="true" ionFocus="focus()">

            <input type="number" formControlName="senderAmount" placeholder="0.00"
            class="form-control inputFieldTwo" ionFocus="focus()">

            <ion-select interface="popover" value="usd"
            formControlName="senderCurr" style="color: white;"
            >
              <ion-select-option value="usd" selected="true">USD</ion-select-option>
              <ion-select-option value="ngn">NGN</ion-select-option>
              <ion-select-option value="cad">CAD</ion-select-option>
              <ion-select-option value="eur">EUR</ion-select-option>
            </ion-select>
          </div>

          <!-- Receiver Info -->
          <div class="form-group flexContainer">
            <div class="ion-padding">Receiver:</div>
            <input type="text" formControlName="receiverAddress"
            class="form-control inputField" required="true" ionFocus="focus()">

            <input type="number" formControlName="receiverAmount"
            class="form-control inputFieldTwo disabled" placeholder="Amount"
            ionFocus="focus()" >
          </div>
          <ion-textarea formControlName="remark" cols="5" rows="3" placeholder="Remark" class="remark"></ion-textarea>
          <button type="submit" class="theme btn btn-primary" [disabled]="isButtonDisabled">Transfer</button>
        </form>
      </div>

      <!-- To third Party Wallet -->
      <div class="form-box" id="fundingForm">
        <form (ngSubmit)="onTransferFunding()" [formGroup]="transactionInfoFunding">
          <ion-item>
            <ion-label>Amount</ion-label>
            <ion-input
            required
            formControlName="senderAmount"
            type="number"
            placeholder="0.00"></ion-input>
            <ion-chip color="dark" mode="md" outline="true">
              <ion-label>{{ currency.toUpperCase() }}</ion-label>
            </ion-chip>
          </ion-item>
          <ion-button type="submit">Transfer</ion-button>
        </form>
      </div>

    </div>
    <!-- Transfer History Chart -->
    <div class="container">
      <div class="mongoChart" id="mongoChart" style="padding-top: 120px;"></div>
    </div>
    <div class="head-title">
      <div class="container">Recent Transfers</div>
    </div>
    <div class="transactionlist">
      <div class="container">
        <div class="transactions-box" *ngFor="let transfer of transfers"><div slot="header">
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <div class="left">
                  <div class="icon bg-success">
                    <img src="../../../assets/images/card.svg" class="w-100 card-icon" />
                  </div>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="middle">
                  <div class="title">{{transfer.toAddress}}</div>
                  <div class="time ion-padding-top">{{transfer.fromName}} - {{transfer.fromAddress}}</div>
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="ion-text-end">
                  <div class="price text-success">{{transfer.amount | currency: getCurrencyIcon(transfer.currency)}}</div>
                  <div class ="time ion-padding-top">{{toDate(transfer.date)}}</div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
