<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
  <app-header></app-header>
  <div class="body">
    <!-- <div class="container">
      <div class="scan-btn" (click)="scanCode()">
        <div class="icon">
          <img src="../../../assets/images/qrcode.png" class="w-100" />
        </div>
      </div>
      <div class="or-text">OR</div>
      <div class="paymentoptions">
        <ul>
          <li>
            <div class="form-group flexContainer">
              <input
                class="form-control inputField"
                [value]="'Wallet Adress/Card number'"
                name="Username" onFocus="focus()">
            <ion-button class="ion-btn">Copy</ion-button>
            </div>
          </li>
        </ul>
      </div>
    </div> -->

    <div class="container">
      <div class="form-box">
        <form (ngSubmit)="onTransfer()" *ngIf="!isLoading" [formGroup]="transactionInfo">
          <div class="form-group flexContainer">

            <input type="text"  class="form-control inputField" formControlName="senderAddress" required="true" ionFocus="focus()">

            <input type="number" formControlName="senderAmount" placeholder="Sending Amount"
            class="form-control inputFieldTwo" ionFocus="focus()">

            <ion-select interface="popover" value="usd"
            formControlName="senderCurr" style="color: white;"
            >
              <ion-select-option value="usd" selected="true">USD</ion-select-option>
              <ion-select-option value="ngn">NGN</ion-select-option>
              <ion-select-option value="cad">CAD</ion-select-option>
              <ion-select-option value="eur">EUR</ion-select-option>
            </ion-select>

          </div>

          <!-- Receiver Info -->
          <div class="form-group flexContainer">
            <input type="text" formControlName="receiverAddress"
              class="form-control inputField" required="true" ionFocus="focus()">

            <input type="number" formControlName="receiverAmount"
            class="form-control inputFieldTwo" placeholder="Receiving Amount"
            ionFocus="focus()">

            <ion-select interface="popover"value="ngn"
            formControlName="receiverCurr" style="color: white;">
              <ion-select-option value="usd">USD</ion-select-option>
              <ion-select-option value="ngn">NGN</ion-select-option>
              <ion-select-option value="cad">CAD</ion-select-option>
              <ion-select-option value="eur">EUR</ion-select-option>
            </ion-select>

          </div>
            <button type="submit" class="theme btn btn-primary">Transfer</button>
        </form>
      </div>
    </div>
    <div class="head-title">
      <div class="container">Recent Transfers</div>
    </div>
    <div class="transactionlist">
      <div class="container">
        <div class="transactions-box" *ngFor="let transfer of transfers">
          <div class="left">
            <div class="icon bg-success">
              <img src="../../../assets/images/card.svg" class="w-100 card-icon" />
            </div>
          </div>
          <div class="middle">
            <div class="title">{{transfer.to}}</div>
            <div class="time">{{transfer.date}}</div>
          </div>
          <div class="right">
            <div class="price text-success">{{transfer.amount}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
