<div class="footer">
  <ul>

    <li (click)="dashboardPage()">
      <a class="icon" [ngClass]="url1 == '/dashboard' ? 'active ' : ''"
        ><img
          src="../../../assets/images/menu-home.svg"
          class="w-100 normal" /><img
          src="../../../assets/images/menu-home-hover.svg"
          class="w-100 hover"
      /></a>
      <ion-label color="light">Home</ion-label>
    </li>
    <li (click)="paymentsPage()">
      <a class="icon" [ngClass]="url1 == '/payments' ? 'active ' : ''"
        ><img
          src="../../../assets/images/menu-scan.svg"
          class="w-100 normal" /><img
          src="../../../assets/images/menu-scan-hover.svg"
          class="w-100 hover"
        />
      </a>
      <ion-label color="light">Explore</ion-label>
    </li>

    <li (click)="historyPage()">
      <a class="icon" [ngClass]="url1 == '/history' ? 'active ' : ''">
        <img
          src="../../../assets/images/menu-history.svg"
          class="w-100 normal" /><img
          src="../../../assets/images/menu-history-hover.svg"
          class="w-100 hover"
        />
      </a>
      <ion-label color="light">Market</ion-label>
    </li>
    <li (click)="walletsPage()">
      <a class="icon" [ngClass]="url1 == '/wallets' ? 'active ' : ''">
        <img src="../../../assets/images/wallet-outline.svg" class="w-100 normal" />
        <img src="../../../assets/images/wallet-outline-hover.svg" class="w-100 hover"/>
      </a>
      <ion-label color="light">Wallets</ion-label>
    </li>
    <li>
      <a class="icon menu-btn">
        <img src="../../../assets/images/menu-more.svg"class="w-100 normal" />
        <img src="../../../assets/images/menu-more-hover.svg" class="w-100 hover"/>
      </a>
      <ion-label color="light">Menu</ion-label>
    </li>
  </ul>

</div>
