.card-title{
  text-align: center;
}

.stock-text{
  background-color: rgba(196, 164, 96, 0.151);
  color: white;
  border-radius: 15px;
  font-size: large;
}

.stock-text-invalid{
  background-color: rgba(255, 0, 0, 0.267);
  color: white;
  border-radius: 15px;
  font-size: large;
}
