<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
  <div class="container">
    <app-header></app-header>
    <div class="body">
      <div class="form-page-box">
        <form>
          <div class="form-group">
            <input
              type="password"
              placeholder="Old Password"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              placeholder="New Password"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              placeholder="Confirm Password"
              class="form-control"
            />
          </div>
          <div class="text-center mt-4">
            <button type="submit" class="theme btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
