<ion-header>
  <ion-toolbar>
    <ion-title>Request recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title style="text-align: center; margin-top: 16px;">Input your password recovery email</ion-card-title>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="onRequest(form)">

        <ion-item>
          <ion-input type="email" ngModel name="email" placeholder="E-mail" #emailInput="ngModel" required="true" email></ion-input>
          <p *ngIf=emailInput.invalid class="inputWarnings">Not a recognized email address</p>
        </ion-item><hr>

        <ion-grid style="margin-top: 32px;">
          <ion-row>
            <ion-col>
              <ion-button ion-padding type="submit" expand="full" fill="outline" color="firey" shape="round">Submit</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
