<ion-header>
  <ion-toolbar>
    <ion-title>SIGN UP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/images/logoicon.svg" width="50px" height="50px"
  class="centered"/>

  <h2 style="text-align: center;">Sign up</h2>

  <form #form="ngForm" (ngSubmit)="onSignup(form)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="centered">
            <ion-input ngModel
            name="username"
            #nameInput="ngModel"
            placeholder="Username"
            required="true"
            style="background-color: rgba(73, 73, 99, 0.755); border-radius: 30px;"></ion-input>
            <p *ngIf=nameInput.invalid class="inputwarnings" style="margin-left: 11px;">This field is required</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="centered">
            <ion-input style="background-color: rgba(73, 73, 99, 0.755); border-radius: 30px;"
            type="email"ngModel
            name="email"
            placeholder="E-mail"
            #emailInput="ngModel"
            required="true" email></ion-input>
            <p *ngIf=emailInput.invalid class="inputwarnings" style="margin-left: 11px;"> Please enter a valid email address</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- password field -->
        <ion-col>
          <div class="centered">
            <ion-input
            style="background-color: rgba(73, 73, 99, 0.755); border-radius: 30px;"
            type="password"
            ngModel
            name="password"
            placeholder="Password"
            #passwordInput="ngModel"
            required="true"
            minlength="8"></ion-input>
            <p *ngIf=passwordInput.invalid class="inputwarnings" style="margin-left: 11px;">Input at leat 8 chars</p>
          <hr><hr>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5"></ion-col>
        <ion-col>
          <ion-button
          style="text-align: center;"
          type="submit"
          expand="full" class="btn1" shape="round">Sign up</ion-button>
        </ion-col>
        <ion-col size="5"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="text-align: center; margin-top: 10px;">
            Already have an account?
            <ion-button ion-padding size="small"
              fill="outline"
              color="primary"
              shape="round"
              class="btn2"
              (click)="login()"
            >Log in</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
