// ion-content {
//   --background: #181818f8;
// }
.inputwarnings{
  font-size: 10px;
  font-style: italic;
  color: rgba(129, 50, 50, 0.979);
}

.btn1 {
  font-weight: 550;
}

.btn2 {
  font-weight: 550;
}

