.inner-card{
  opacity: 0.8;
  width: 35%;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.062);
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  background-color: transparent;
  width: 97%;
}

.inner-card:hover{
  opacity: 1;
  box-shadow: 5px 10px 5px black;
}

.inner-card .text{
  text-align: center;
  color: white;
}

ion-icon {
  font-size: 48px;
}

.title-card{
  background-color: transparent !important;
}
