<app-sidebar></app-sidebar>

<ion-content class="mainbackground">
  <app-header></app-header>
  <div class="body">
    <div class="container">
      <ion-card class="title-card"style="text-align: center;">
        <ion-card-header >
          <ion-card-title>Onotrade Trading Options</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="flex-container">
        <ion-card class="inner-card" (click)="peerTrade()">
          <ion-card-content>
            <ion-text color="dark">
              Trade with other users of the onotrade app in a secure environment and
              tons of available trade options.
            </ion-text>
          </ion-card-content>
          <ion-card-header color="primary">
              <div style="text-align: center;">
                <ion-icon name="people-circle-sharp" color="dark" class="icon bg-gold"></ion-icon>
              </div>
            <ion-card-title class="text">P2P</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card class="inner-card" (click)="globalTrade()">
          <ion-card-content>
            <ion-text color="dark">
              Trade directly on the Onotrade Marketplace without involvement of third-parties
            </ion-text>
          </ion-card-content>
          <ion-card-header color="success">
              <div style="text-align: center;">
                <ion-icon name="cart-outline" class="icon bg-gold" color="dark"></ion-icon>
              </div>
            <ion-card-title class="text">Market</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-card>
      <!-- <ion-card class="transactions-box">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="left">
              <ion-card class="inner-card" (click)="peerTrade()">
                <ion-card-header>
                    <div style="text-align: center;">
                      <ion-icon name="people-circle-sharp" color="dark" class="icon bg-gold"></ion-icon>
                    </div>
                  <ion-card-title class="text">P2P</ion-card-title>
                  <ion-card-subtitle class="text">Peer-to-Peer Trading</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col size="6" class="right">
              <ion-card class="inner-card" (click)="globalTrade()">
                <ion-card-header>
                    <div style="text-align: center;">
                      <ion-icon name="cart-outline" class="icon bg-gold" color="dark"></ion-icon>
                    </div>
                  <ion-card-title class="text">Marketplace</ion-card-title>
                  <ion-card-subtitle class="text">Trade on the global market</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card> -->
    </div>
  </div>

</ion-content>
<app-footer></app-footer>
