<app-header></app-header>

<ion-content>
  <ion-segment value="transactions" *ngIf="userIsAuthenticated">

    <ion-segment-button value="history" (click)='goToPage("history")' style="padding-top: 10px;">
      <ion-label><ion-icon name="time" slot="start" size="large"></ion-icon></ion-label>
      <ion-label *ngIf="!ios">History</ion-label>
    </ion-segment-button>

    <ion-segment-button value="deposit" (click)='goToPage("deposit")' style="padding-top: 10px;">
      <ion-label><ion-icon name="enter" size="large" slot="start"></ion-icon></ion-label>
      <ion-label *ngIf="!ios">Deposit</ion-label>
    </ion-segment-button>

    <ion-segment-button value="withdraw" (click)='goToPage("withdraw")' style="padding-top: 10px;">
      <ion-label><ion-icon name="exit" class="flip" size="large"></ion-icon></ion-label>
      <ion-label *ngIf="!ios">Withdraw</ion-label>
    </ion-segment-button>

    <ion-segment-button value="transfer" (click)='goToPage("transfer")' style="padding-top: 10px;">
      <ion-label><ion-icon name="navigate" size="large" slot="start"></ion-icon></ion-label>
      <ion-label *ngIf="!ios">Transfer</ion-label>
    </ion-segment-button>

  </ion-segment>
  <router-outlet *ngIf="userIsAuthenticated"></router-outlet>
  <div class="centered2">
    <ion-note *ngIf="!userIsAuthenticated"
      style="font-size: 30px;">PLEASE LOG IN
    </ion-note>
  </div>
</ion-content>
