<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-button slot="end"
    *ngIf="this.userData"
    color="tertiary"
    size="small"
    shape="round">Logout</ion-button>

    <ion-button slot="end"
    *ngIf="!this.userData"
    color="secondary"
    size="small"
    shape="round">Login</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-segment value="transactions">

    <ion-segment-button value="history" (click)='goToPage("history")'>
      <ion-label><ion-icon name="time" slot="start" size="large"></ion-icon></ion-label>
      <ion-label *ngIf="!ios">History</ion-label>
    </ion-segment-button>

    <ion-segment-button value="deposit" (click)='goToPage("deposit")'>
      <ion-label><ion-icon name="enter" size="large" slot="start"></ion-icon></ion-label>
      <ion-label *ngIf="!ios">Deposit</ion-label>
    </ion-segment-button>

    <ion-segment-button value="withdraw" (click)='goToPage("withdraw")'>
      <ion-label><ion-icon name="exit" class="flip" size="large"></ion-icon></ion-label>
      <ion-label *ngIf="!ios">Withdraw</ion-label>
    </ion-segment-button>

    <ion-segment-button value="transfer" (click)='goToPage("transfer")'>
      <ion-label><ion-icon name="navigate" size="large" slot="start"></ion-icon></ion-label>
      <ion-label *ngIf="!ios">Transfer</ion-label>
    </ion-segment-button>

  </ion-segment>
  <router-outlet></router-outlet>
</ion-content>
