ion-menu-button {
  color: var(--ion-color-primary);
}

.bar{
  width: 100%;
  padding: 0% 3% 0% 3%;
  display: flex;
  justify-content: space-between;
}

.flip {
  display: inline-block;
  transform: rotate(180deg);
}

ion-icon {
  font-size: 25px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-top: 200px;
}
.centered2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-top: 30px;
}

