<app-sidebar></app-sidebar>
<ion-content [fullscreen]="true" class="mainbackground">
  <app-header></app-header>
  <div class="main-header"></div>
  <div class="body">
    <div class="blue-card">
      <div class="container">
        <div class="card bg-primary">
          <div class="card-body">
            <div class="accountbalance">
              <p>
                <ion-chip color="dark">
                  <ion-label class="ion-text-wrap">
                    {{3456.12 | currency:'₦'}}
                  </ion-label>
                </ion-chip>
              </p>
              <div class="float-right">
                <div class="visa-icon">
                  <img
                    src="../../../assets/images/visa-card-icon.svg"
                    class="w-100"
                  />
                </div>
              </div>
            </div>
            <div class="balanceinfo ion-margin-start">
              <!-- <ion-button (click)="goChartPage()">Chart test</ion-button> -->
              <div class="name">{{name}}</div>
              <div class="cardno">1*** **** **** 7678</div>
              <div class="expiredate">13/20</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="head-title">
      <div class="container">Features</div>
    </div>
    <div class="container">
      <ion-grid fixed>
        <ion-row class="ion-margin-horizontal">
          <ion-col *ngFor="let item of features" size="6" (click)="goToPage(item?.page)" >
            <ion-card class="ion-text-center">
              <ion-card-header>
                <div align="center">
                  <ion-thumbnail>
                    <img [src]="item?.src" />
                  </ion-thumbnail>
                </div>
              </ion-card-header>
              <ion-card-content>
                <ion-label>{{item?.name}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="head-title" style="display: none;">
      <div class="container">Market Price</div>
    </div>
    <div class="chart-box" style="display: none;">
      <div class="container">
        <canvas #barCanvas></canvas>
      </div>
    </div>
    <div class="head-title">
      <div class="container">Recent Transactions</div>
    </div>
    <div class="transactionlist">
      <div class="container">
        <div class="transactions-box">
          <div class="left">
            <div class="icon bg-danger">
              <img src="../../../assets/images/mobile.svg" class="w-100" />
            </div>
          </div>
          <div class="middle">
            <div class="title">Mobile recharge</div>
            <div class="time">2 min ago</div>
          </div>
          <div class="right">
            <div class="price text-danger">-$20</div>
          </div>
        </div>
        <div class="transactions-box">
          <div class="left">
            <div class="icon bg-success">
              <img
                src="../../../assets/images/card.svg"
                class="w-100 card-icon"
              />
            </div>
          </div>
          <div class="middle">
            <div class="title">Money back offer</div>
            <div class="time">50 min ago</div>
          </div>
          <div class="right">
            <div class="price text-success">+$55</div>
          </div>
        </div>
        <div class="transactions-box">
          <div class="left">
            <div class="icon bg-danger">
              <img src="../../../assets/images/mobile.svg" class="w-100" />
            </div>
          </div>
          <div class="middle">
            <div class="title">Mobile recharge</div>
            <div class="time">1 day ago</div>
          </div>
          <div class="right">
            <div class="price text-danger">-$100</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
