<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
  <app-header></app-header>
  <div class="body">
    <div class="blue-card">
      <div class="container">
        <div class="card bg-primary">
          <div class="card-body">
            <div class="accountbalance">
              {{3456.12 | currency:'₦'}}
              <div class="float-right">
                <div class="visa-icon">
                  <img
                    src="../../../assets/images/visa-card-icon.svg"
                    class="w-100"
                  />
                </div>
              </div>
            </div>
            <div class="balanceinfo">
              <div class="name">{{name}}</div>
              <div class="cardno">1*** **** **** 7678</div>
              <div class="expiredate">13/20</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="head-title">
      <div class="container">Market Price</div>
    </div>
    <div class="chart-box">
      <div class="container">
        <canvas #barCanvas></canvas>
      </div>
    </div>
    <div class="head-title">
      <div class="container">Recent Transactions</div>
    </div>
    <div class="transactionlist">
      <div class="container">
        <div class="transactions-box">
          <div class="left">
            <div class="icon bg-danger">
              <img src="../../../assets/images/mobile.svg" class="w-100" />
            </div>
          </div>
          <div class="middle">
            <div class="title">Mobile recharge</div>
            <div class="time">2 min ago</div>
          </div>
          <div class="right">
            <div class="price text-danger">-$20</div>
          </div>
        </div>
        <div class="transactions-box">
          <div class="left">
            <div class="icon bg-success">
              <img
                src="../../../assets/images/card.svg"
                class="w-100 card-icon"
              />
            </div>
          </div>
          <div class="middle">
            <div class="title">Money back offer</div>
            <div class="time">50 min ago</div>
          </div>
          <div class="right">
            <div class="price text-success">+$55</div>
          </div>
        </div>
        <div class="transactions-box">
          <div class="left">
            <div class="icon bg-danger">
              <img src="../../../assets/images/mobile.svg" class="w-100" />
            </div>
          </div>
          <div class="middle">
            <div class="title">Mobile recharge</div>
            <div class="time">1 day ago</div>
          </div>
          <div class="right">
            <div class="price text-danger">-$100</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
