<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
  <app-header></app-header>
  <div class="body">
    <div class="container" style="padding-bottom: 30px;">
      <ion-card class="head-card" style="text-align: center;">
        <ion-card-header class="spaced">
          <ion-card-title>Filters:</ion-card-title>
        </ion-card-header>
        <ion-select class="spaced" interface="popover" value="ppl" style="color: white;">
          <ion-select-option value="zel">Zelle</ion-select-option>
          <ion-select-option value="ppl">Paypal</ion-select-option>
          <ion-select-option value="pst">Paystack</ion-select-option>
        </ion-select>
        <ion-select interface="popover" class="spaced" value="usd" style="color: white;">
          <ion-select-option value="usd" selected="true">USD</ion-select-option>
          <ion-select-option value="ngn">NGN</ion-select-option>
          <ion-select-option value="cad">CAD</ion-select-option>
          <ion-select-option value="eur">EUR</ion-select-option>
        </ion-select>
        <ion-button class="spaced" (click)="newPeerOffer()" expand="block">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button class="spaced" (click)="pendingOffers()" expand="block" color="secondary">
          Pending
        </ion-button>
      </ion-card>
    </div>

    <!-- TODO: use transaction-list class from wallet page to design p2p offers -->
    <div class="container">
      <ion-list inset="true" lines="none">
        <ion-card class="offer-card" *ngFor="let offer of peerOffers; index as i">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-chip style="padding-left: 0px;">
                <ion-chip style="margin-left: 0px; margin-right: 10px;" color="warning">{{offer.name.charAt(0)}}</ion-chip>
                <ion-label>{{offer.name}}</ion-label>
              </ion-chip>-
              <ion-icon color="gold-primary" [name]="ratingsStar(4.5)[0]"></ion-icon>
              <ion-icon color="gold-primary" [name]="ratingsStar(4.5)[1]"></ion-icon>
              <ion-icon color="gold-primary" [name]="ratingsStar(4.5)[2]"></ion-icon>
              <ion-icon color="gold-primary" [name]="ratingsStar(4.5)[3]"></ion-icon>
              <ion-icon color="gold-primary" [name]="ratingsStar(4.5)[4]"></ion-icon>
              <!-- <ion-note>{{offer.tradesCount}} Trades | {{offer.percentageCompleted.toFixed(2)}}%</ion-note> -->
            </ion-card-subtitle>
            <ion-card-subtitle>Price</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
            <h2 style="padding-right: 4px;" >{{offer.price.toFixed(2) | currency: getCurrencyIcon(offer.fiatCurr)}}/<ion-text color="success">{{offer.cryptoCurr.toUpperCase()}}</ion-text></h2>
          </ion-item>
          <ion-grid fixed class="ion-no-padding ion-no-margin" >
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col size="9">
                <ion-item>
                  <ion-label><ion-text color="medium">Stock: </ion-text>{{offer.inStock.toLocaleString()}} <ion-text color="success">{{offer.cryptoCurr.toUpperCase()}} </ion-text></ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><ion-text color="medium">Order Limit: </ion-text>{{offer.lowerLimit}} - {{offer.upperLimit}} </ion-label>
                  <ion-label>
                    <ion-text color="medium">Payment Window: </ion-text>
                    <ion-text color="warning">{{offer.timeLimit}} minutes</ion-text></ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="3">
                <ion-button expand="block" fill="outline" [color]="offer.type == 'buy'? 'danger': 'alt-green'" (click)="buyPage(offer)">
                  {{offer.type == 'buy'? 'Sell' : 'Buy'}}
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" *ngFor=" let method of offer.paymentMethods">
                <ion-chip [color]="getMethodColor(method)" mode="ios" outline="true">
                  <ion-label>{{getPaymentMethodName(method)}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-list>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
